# 커피빈 매장 크롤링: Selenium + BS

- https://www.coffeebeankorea.com/store/store.asp

<b>Selenium</b>
- find_element_by_css_selector
- find_element_by_id
- <b>page_source</b>
- text
- click( )
- send_keys( )

<b>BeautifulSoup</b>
- find()
- find_all()
- <b>select()</b>

In [16]:
from bs4 import BeautifulSoup
import pandas as pd

from selenium import webdriver
import time

import warnings

warnings.filterwarnings(action ='ignore')

In [17]:
CoffeeBean_URL = "https://www.coffeebeankorea.com/store/store.asp"
wd = webdriver.Chrome('/Users/Hoon/Develope/3-Summer/DataScience/chromedriver')

wd.get(CoffeeBean_URL)
time.sleep(1)
wd.execute_script('storePop2(1)')
time.sleep(1)

In [18]:
html = wd.page_source
soup = BeautifulSoup(html, 'html.parser')

![cb](img/cb_html.jpg)

In [19]:
# store_name_h2 = soupt.select('h2')
# store_name_h2 = store_name_h2[-1].string
# store_name_h2

In [23]:
store_name_h2 = soup.select('div.store_txt > h2')
store_name_h2 = store_name_h2[0].string
store_name_h2

'학동역 DT점'

In [24]:
store_info = soup.select('table.store_table > tbody > tr > td')
store_info

[<td>평일 06:30~22:00ㅣ주말/공휴일 07:30~22:00</td>,
 <td>DT(드라이브 스루) 매장입니다. (주차는 불가)</td>,
 <td>서울시 강남구 학동로 211 1층  <!--span class="lot">(서울시 강남구 학동로 211 1층)</span--></td>,
 <td>02-3444-9973</td>]

In [26]:
store_tel = store_info[3]
store_tel.string

'02-3444-9973'

In [38]:
store_add = store_info[2]
store_add

In [39]:
store_add = list(store_add)

In [40]:
store_add = store_add[0]
store_add

'서울시 강남구 학동로 211 1층  '

In [41]:
store_add = store_add.strip()

In [43]:
df_cb = pd.DataFrame({'매장이름':[store_name], 'address':[store_add], 'phone':[store_tel]})
df_cb

      매장이름             address           phone
0  학동역 DT점  서울시 강남구 학동로 211 1층  [02-3444-9973]